Flask-Gzip==0.2
Flask-Mail==0.10.0
Flask-Migrate~=2.7.0
Flask-pyoidc~=3.7.0
Flask~=1.1.4
csh-ldap @ git+https://github.com/costowell/csh_ldap@67dd183744746c758d6c13878f539437d2628b63
ddtrace==3.12.2
flask_sqlalchemy~=2.5.1
gunicorn~=20.0.4
mypy==1.17.1
onesignal-sdk~=1.0.0
psycopg2-binary~=2.9.3
pylint-quotes==0.2.3
pylint~=2.8.0
sentry-sdk~=2.37.0
sqlalchemy[mypy]~=1.4.31

# Broken transitive dependency we should version
MarkupSafe~=2.0.1
# Tool to generate requirements.txt
pip-tools~=6.6.2
