Flask~=1.1.0
Flask-pyoidc~=2.2.0
Flask-Mail~=0.9.1
Flask-Gzip~=0.2
flask_sqlalchemy~=2.3.2
psycopg2-binary~=2.8.6
Flask-Migrate~=2.2.1
pylint~=2.3.1
gunicorn~=19.7.1
csh_ldap~=2.1.0
onesignal-sdk~=1.0.0
pylint-quotes~=0.2.1
sentry-sdk~=0.14.2
