Flask-Gzip
Flask-Mail
Flask-Migrate
Flask-pyoidc
Flask
csh-ldap
flask_sqlalchemy
gunicorn
mypy
onesignal-sdk~=1.0.0
psycopg2-binary
pylint-quotes
pylint
sentry-sdk
sqlalchemy[mypy]
setuptools
# Broken transitive dependency we should version
MarkupSafe
# Tool to generate requirements.txt
pip-tools
