alabaster==0.7.10
alembic==0.9.7
asn1crypto==0.24.0
Beaker==1.9.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Migrate==2.1.1
Flask-pyoidc==1.2.0
Flask-SQLAlchemy==2.3.2
future==0.16.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
oic==0.11.0.1
psycopg2==2.7.3.2
pycparser==2.18
pycryptodomex==3.4.7
pyjwkest==1.4.0
pyOpenSSL==17.5.0
python-dateutil==2.6.1
python-editor==1.0.3
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.1
urllib3==1.22
Werkzeug==0.14.1
