csh_ldap~=2.3.1
ddtrace
Flask~=1.1.2
Flask-Gzip~=0.2
Flask-Mail~=0.9.1
Flask-Migrate~=2.5.3
Flask-pyoidc~=3.7.0
flask_sqlalchemy~=2.4.4
gunicorn~=20.0.4
onesignal-sdk~=1.0.0
psycopg2-binary~=2.8.6
pylint~=2.6.0
pylint-quotes~=0.2.1
sentry-sdk~=0.19.5
