{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="row mobile-hide">
            <div class="col-sm-10">
                <h3 class="page-title">Active Packets</h3>
            </div>
        </div>
        <div id="eval-blocks">
            {% if packets|length > 0 %}
                <div id="eval-table">
                    <div class="card">
                        <div class="card-body table-fill">
                            <div class="card-body table-fill">
                                <div class="table-responsive">
                                    <table class="table table-striped no-bottom-margin" data-module="table"
                                           data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                           data-length-changable="true" data-paginated="false">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Signatures</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for packet in packets %}
                                            {% if packet.is_open() %}
                                                <tr>
                                                    <td>
                                                        <a href="/packet/{{ packet.freshman.rit_username }}">
                                                            <img class="eval-user-img"
                                                                 alt="{{ packet.freshman.name }}"
                                                                 src="https://profiles.csh.rit.edu/image/{{ packet.freshman.rit_username }}"
                                                                 width="30"
                                                                 height="30"/> {{ get_freshman_name(packet.freshman.rit_username) }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ packet.signatures_received() }}
                                                    </td>
                                                    {% if info.onfloor or info.realm == "csh" %}
                                                        <td class="sign-packet" align="right">
                                                            {% if not packet_signed %}
                                                                <button class="btn btn-primary sign-button"
                                                                        data-freshman_uid="{{ packet.freshman.rit_username }}"
                                                                        data-freshman_name="{{ packet.freshman.name }}">Sign
                                                                </button>
                                                            {% else %}
                                                                <button class="btn btn-primary" disabled="disabled"><i
                                                                        class="fa fa-check"></i>&nbsp;Signed
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    There are currently no active packets.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
