{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="ml-4">
            <div class="row justify-content-between w-100">
                <div class="col-xs-10">
                    <h4 class="page-title">Active Packets</h4>
                </div>
                {% if info.is_upper %}
                <div class="col-xs-2">
                    <select id="sig-filter" class="form-control">
                        <option>Total</option>
                        <option>Upperclassmen</option>
                        <option>Freshmen</option>
                    </select>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="eval-blocks">
            {% if packets|length > 0 %}
                <div id="eval-table">
                    <div class="card">
                        <div class="card-body table-fill">
                            <div class="table-responsive">
                                <table id="active_packets_table" class="table table-striped no-bottom-margin">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        {% if info.is_upper %}
                                        <th>Signatures</th>
                                        <th>Signatures</th>
                                        <th>Signatures</th>
                                        {% endif %}
                                        <th>Sign</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for packet in packets %}
                                        <tr {% if packet.did_sign_result %}style="background-color: #4caf505e" {% endif %}>
                                            <td data-priority="1">
                                                {% if info.is_upper %}
                                                <a href="{{ url_for('freshman_packet', packet_id=packet.id) }}">
                                                {% endif %}
                                                    <img class="eval-user-img"
                                                         alt="{{ get_rit_name(packet.freshman_username) }}"
                                                         src="{{ get_rit_image(packet.freshman_username) }}"
                                                         width="25"
                                                         height="25"/> {{ get_rit_name(packet.freshman_username) }}
                                                {% if info.is_upper %}
                                                </a>
                                                {% endif %}
                                            </td>
                                            {% if info.is_upper %}
                                            <td data-sort="{{ packet.signatures_received_result.member_total }}">
                                                {% if packet.signatures_received_result.member_total == packet.signatures_required_result.member_total %}
                                                    💯 {# 100% emoji #}
                                                {% else %}
                                                    {{ packet.signatures_received_result.member_total }} /
                                                    {{ packet.signatures_required_result.member_total }}
                                                {% endif %}
                                            </td>
                                            <td data-sort="{{ packet.signatures_received_result.fresh }}">
                                                {% if packet.signatures_received_result.fresh == packet.signatures_required_result.fresh %}
                                                    💯 {# 100% emoji #}
                                                {% else %}
                                                    {{ packet.signatures_received_result.fresh }} /
                                                    {{ packet.signatures_required_result.fresh }}
                                                {% endif %}
                                            </td>
                                            <td data-sort="{{ packet.signatures_received_result.total }}">
                                                {% if packet.signatures_received_result.total == packet.signatures_required_result.total %}
                                                    💯 {# 100% emoji #}
                                                {% else %}
                                                    {{ packet.signatures_received_result.total }} /
                                                    {{ packet.signatures_required_result.total }}
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                                <td class="sign-packet" align="right" data-priority="1">
                                                    {% if not packet.did_sign_result and info.ritdn != packet.freshman_username %}
                                                        <button class="btn btn-sm btn-primary sign-button"
                                                                data-packet_id="{{ packet.id }}"
                                                                data-freshman_name="{{ get_rit_name(packet.freshman_username) }}">
                                                            Sign
                                                        </button>
                                                    {% elif info.ritdn != packet.freshman_username %}
                                                        <button class="btn btn-sm btn-primary signed-button"
                                                                disabled="disabled"><i
                                                                class="fa fa-check"></i>&nbsp;Signed
                                                        </button>
                                                    {% endif %}
                                                </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    There are currently no active packets.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if info.realm == "csh" %}
        <script src="{{ url_for('static', filename='js/tables.min.js') }}"></script>
    {% endif %}
{% endblock %}
