{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="ms-3">
            <div class="d-flex flex-row justify-content-between py-4 align-items-center">
                <div class="col-6">
                    <h2>Active Packets</h2>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#new-packets-modal">
                        Create new Packets
                    </button>
                    <button type="button" id="sync-ldap" class="btn btn-primary my-1 px-4">
                        Sync with LDAP
                    </button>
                    {% include 'include/admin/new_packets.html' %}
                </div>
            </div>
        </div>
        <div id="eval-blocks">
            {% include 'include/admin/open_packets.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/packets.min.js') }}"></script>
{% endblock %}
