{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="ms-3">
            <div class="d-flex flex-row justify-content-between py-4 align-items-center">
                <div class="col-sm-9">
                    <h2>All Freshmen</h2>
                </div>
                <div class="col-sm-3 text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sync-freshmen-modal">
                        Sync Freshmen
                    </button>
                    {% include 'include/admin/sync_freshmen.html' %}
                </div>
            </div>
        </div>
        <div id="eval-blocks">
            {% include 'include/admin/all_freshmen.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/freshmen.min.js') }}"></script>
{% endblock %}
