{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="row mobile-hide">
            <div class="col-sm-10">
                <h3 class="page-title">Essays</h3>
            </div>
        </div>
        <div id="eval-blocks">
            <div id="eval-table">
                <div class="card">
                    <form action="{{ url_for("submit_essays", packet_id=packet.id) }}" method="post">
                        <div class="card-body table-fill">
                            <div class="form-group card-body">
                                Answer each prompt with a few sentences or a sort list.
                            </div>
                            <div class="form-group card-body">
                                <label for="info_eboard">Name and list all EBoard Members and their positions</label>
                                <textarea class="form-control"
                                          name="info_eboard">{{ packet.info_eboard if packet.info_eboard != None }}</textarea>
                            </div>
                            <div class="form-group card-body">
                                <label for="info_events">Name some CSH Events that we host yearly (min 3)</label>
                                <textarea class="form-control"
                                          name="info_events">{{ packet.info_events if packet.info_events != None }}</textarea>
                            </div>
                            <div class="form-group card-body">
                                <label for="info_achieve">Name some of CSH's Technical Achievements (min 3)</label>
                                <textarea class="form-control"
                                          name="info_achieve">{{ packet.info_achieve if packet.info_achieve != None }}</textarea>
                            </div>
                        </div>
                        <div class="card-footer mx-auto">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
