{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="row mobile-hide">
            <div class="col-sm-10">
                <h3 class="page-title">Essays</h3>
            </div>
        </div>
        <div id="eval-blocks">
            <div id="eval-table">
                <div class="card">
                    <div class="card-body table-fill">
                        <textarea title="EBoard"></textarea>
                        <textarea title="Events"></textarea>
                        <textarea title=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
