{% extends 'extend/base.html' %}

{% block body %}
    <div class="container main">
    <h1 class="card-title">Page Not Found</h1>
        <div class="card mb-3">
            <div class="card-body" style="text-align: left;">
                <h4 class="card-text">
                    Not sure what you're looking for, but it's not here.
                </h4>
                <h5 class="card-text">
                    Do us a favor, check your spelling. If you can't find what you're looking for, <a href="mailto:rtp@csh.rit.edu">shoot us an email</a>.
                </h5>
            </div>
        </div>
    </div>
{% endblock %}
