{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="row mobile-hide">
            <div class="col-sm-10">
                <h3 class="page-title">{{ freshman.name }}</h3>
            </div>
        </div>
        <div>
            Signatures: {{ signed }}/{{ required }}
            {# if not signed #}
            <button class="btn btn-primary sign-button"
                    data-freshman_uid="{{ freshman.rit_username }}"
                    data-freshman_name="{{ freshman.name }}">Sign
            </button>
            {# else if signed #}
            <button class="btn btn-primary" disabled="disabled"><i
                    class="fa fa-check"></i>&nbsp;Signed
            </button>
            {# endif #}
        </div>
        <div id="eval-blocks">
            <div id="eval-table">
                <div class="card mb-3">
                    <div class="card-body table-fill">
                        <div class="card-body table-fill">
                            <div class="table-responsive">
                                <table class="table table-striped no-bottom-margin" data-module="table"
                                       data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                       data-length-changable="true" data-paginated="false">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Signature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in signatures.eboard %}
                                        <tr>
                                            <td>
                                                <img class="eval-user-img" alt="{{ m['member'] }}"
                                                     src="https://profiles.csh.rit.edu/image/{{ m['member'] }}"
                                                     width="30"
                                                     height="30"/> {{ get_display_name(m.member) }}
                                            </td>
                                            <td>
                                                {% if m.signed %}
                                                    <i class="fas fa-check"></i>
                                                {% else %}
                                                    <i class="fas fa-times"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body table-fill">
                        <div class="card-body table-fill">
                            <div class="table-responsive">
                                <table class="table table-striped no-bottom-margin" data-module="table"
                                       data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                       data-length-changable="true" data-paginated="false">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Signature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in signatures.upperclassmen %}
                                        <tr>
                                            <td>
                                                <img class="eval-user-img" alt="{{ m['member'] }}"
                                                     src="https://profiles.csh.rit.edu/image/{{ m['member'] }}"
                                                     width="30"
                                                     height="30"/> {{ get_display_name(m.member) }}
                                            </td>
                                            <td>
                                                {% if m.signed %}
                                                    <i class="fas fa-check"></i>
                                                {% else %}
                                                    <i class="fas fa-times"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body table-fill">
                        <div class="card-body table-fill">
                            <div class="table-responsive">
                                <table class="table table-striped no-bottom-margin" data-module="table"
                                       data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                       data-length-changable="true" data-paginated="false">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Signature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in signatures.freshmen %}
                                        <tr>
                                            <td>
                                                <a href="/packet/{{ m.freshman.rit_username }}">
                                                    <img class="eval-user-img" alt="{{ m.freshman.rit_username }}"
                                                         src="https://profiles.csh.rit.edu/image/{{ m.freshman.rit_username }}"
                                                         width="30"
                                                         height="30"/> {{ get_freshman_name(m.freshman.rit_username) }}
                                                </a>
                                            </td>
                                            <td>
                                                {% if m.signed %}
                                                    <i class="fas fa-check"></i>
                                                {% else %}
                                                    <i class="fas fa-times"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body table-fill">
                        <div class="card-body table-fill">
                            <div class="table-responsive">
                                <table class="table table-striped no-bottom-margin" data-module="table"
                                       data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                       data-length-changable="true" data-paginated="false">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Signature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in signatures.misc %}
                                        <tr>
                                            <td>
                                                <img class="eval-user-img" alt="{{ m['member'] }}"
                                                     src="https://profiles.csh.rit.edu/image/{{ m['member'] }}"
                                                     width="30"
                                                     height="30"/> {{ get_display_name(m.member) }}
                                            </td>
                                            <td>
                                                {% if m.signed %}
                                                    <i class="fas fa-check"></i>
                                                {% else %}
                                                    <i class="fas fa-times"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
