{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="row mobile-hide">
            <div class="col-sm-10">
                <h3 class="page-title">{{ get_csh_name(member) }}</h3>
            </div>
        </div>
        <div id="eval-blocks">
            <div id="eval-table">
                <div class="card mb-3">
                    <div class="card-header">
                        <b class="signature-count">{{ signatures }}/{{ open_packets|length }}</b>
                    </div>
                    <div class="card-body table-fill">
                        <div class="table-responsive">
                            <table class="table table-striped no-bottom-margin" data-module="table"
                                   data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                   data-length-changable="true" data-paginated="false">
                                <tbody>
                                {% for packet in open_packets %}
                                    {# Using inline style because of how themeswitcher loads the css theme :( #}
                                    <tr {% if packet.did_sign_result %}style="background-color: #4caf505e" {% endif %}>
                                        <td>
                                            <a href="{{ url_for('freshman_packet', freshman_username=packet.freshman_username, packet_id=packet.id) }}">
                                                <img class="eval-user-img"
                                                     alt="{{ get_rit_name(packet.freshman_username) }}"
                                                     src="https://www.gravatar.com/avatar/freshmen?d=mp&f=y"
                                                     width="25"
                                                     height="25"/>
                                                {{ get_rit_name(packet.freshman_username) }}
                                            </a>
                                        </td>
                                        <td width="15%">
                                            {% if packet.did_sign_result %}
                                                <i class="fas fa-check"></i>
                                            {% else %}
                                                <i class="fas fa-times"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
