{% extends "extend/base.html" %}

{% block body %}
    <div class="container main">
        <div class="row mobile-hide">
            <div class="col-sm-10">
                <h3 class="page-title">{{ get_display_name(member) }}</h3>
            </div>
        </div>
        <div id="eval-blocks">
            <div id="eval-table">
                <div class="card mb-3">
                    <div class="card-body table-fill">
                        <div class="card-body table-fill">
                            <div class="table-responsive">
                                <table class="table table-striped no-bottom-margin" data-module="table"
                                       data-searchable="true" data-sort-column="3" data-sort-order="asc"
                                       data-length-changable="true" data-paginated="false">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Signature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for packet in open_packets %}
                                        {# Using inline style because of how themeswitcher loads the css theme :( #}
                                        <tr {% if packet.did_sign %}style="background-color: #4caf505e" {% endif %}>
                                            <td>
                                                <a href="/packet/{{ packet.freshman.rit_username }}">
                                                    <img class="eval-user-img"
                                                         alt="{{ packet.freshman.name }}"
                                                         src="https://profiles.csh.rit.edu/image/{{ packet.freshman.rit_username }}"
                                                         width="25"
                                                         height="25"/> {{ packet.freshman.name }} ({{ packet.freshman.rit_username }})
                                                </a>
                                            </td>
                                            <td width="15%">
                                                {% if packet.did_sign %}
                                                    <i class="fas fa-check"></i>
                                                {% else %}
                                                    <i class="fas fa-times"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
