<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CSH Web Packet">
    <meta name="author" content="Computer Science House">

    <title>CSH Packet</title>

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#b0197e">
    <meta name="theme-color" href="https://themeswitcher.csh.rit.edu/api/colour">

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='assets/logo.svg') }}" color="#b0197e">

    <meta name="msapplication-TileColor" content="#b0197e">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png') }}">
    <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">

    <!-- Additional dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.15.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.15.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/packet.min.css') }}">

    <!-- RUM -->
    <script
        src="https://www.datadoghq-browser-agent.com/datadog-rum.js"
        type="text/javascript">
    </script>
    <script>
        window.DD_RUM && window.DD_RUM.init({
            applicationId: '{{ config["RUM_APP_ID"] }}',
            clientToken: '{{ config["RUM_CLIENT_TOKEN"] }}',
            site: 'datadoghq.com',
            service: 'Packet',
            env: '{{ config["DD_ENV"] }}',
            version: '{{ config["VERSION"] }}',
            sampleRate: 100,
            trackInteractions: true
        });

        window.DD_RUM && window.DD_RUM.setUser({
            id: '{{ info.uid }}',
            realm: '{{ info.realm }}',
        });

        // Add groups to global context so they get interpreted as a list
        window.DD_RUM && window.DD_RUM.addRumGlobalContext('usr', {
            groups: {{ info.groups|safe }},
        });
    </script>


    <!-- Push Notifications -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        {% if info.realm == "csh" %}
            var appId = "{{ config['ONESIGNAL_CSH_APP_ID'] }}";
        {% else %}
            var appId = "{{ config['ONESIGNAL_INTRO_APP_ID'] }}";
        {% endif %}
        OneSignal.push(function () {
            OneSignal.init({
                appId: appId,
                autoResubscribe: true,
                allowLocalhostAsSecureOrigin: true,
            });
            OneSignal.showNativePrompt();
            OneSignal.on("subscriptionChange", function () {
                OneSignal.getUserId().then(function (result) {
                    $.ajax({
                        url: "/api/v1/subscribe/",
                        method: "POST",
                        data: {
                            token: result
                        },
                        success: function (data) {
                            console.log(data);
                        }
                    });
                });
            });
        });
    </script>
</head>
