<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
    <a class="navbar-brand" href="/">Profiles</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/group/active">Active Members</a>
            </li>

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="groups">
                    Years
                    <span class="caret"></span>
                </a>

            </li>

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="groups">
                    Groups
                    <span class="caret"></span>
                </a>

                <div class="dropdown-menu" aria-labelledby="user01">
                    <a class="dropdown-item" href="/group/active_rtp">Active RTP</a>
                    <a class="dropdown-item" href="/group/rtp">RTP</a>
                    <a class="dropdown-item" href="/group/eboard">Eboard</a>
                    <a class="dropdown-item" href="/group/3da">3D Admins</a>
                    <a class="dropdown-item" href="/group/webmaster">Webmasters</a>
                    <a class="dropdown-item" href="/group/constitutional_maintainers">Constitutional Maintainers</a>
                    <a class="dropdown-item" href="/group/drink">Drink Admins</a>
                </div>

            </li>

        </ul>
        <ul class="nav navbar-nav ml-auto">
            <form id="search" action="/search" method="GET">
                <input class="form-control form-control-sm mr-sm-2" id="search-field" name="q"  type="text" placeholder="Search">
                <span class="nav-item fa fa-cog fa-spin" style="font-size:24px; color:#fff;display:none" id="load-icon"></span>
            </form>
            <li class="navbar-user dropdown">

                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user01">
                    <img src="/image/{{ info.uid }}">
                    {{ info.uid }}
                    <span class="caret"></span>
                </a>

                <div class="dropdown-menu" aria-labelledby="user01">
                    <a class="dropdown-item" href="/">Profile</a>
                    <a class="dropdown-item" href="https://themeswitcher.csh.rit.edu/">Theme</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>

            </li>
        </ul>
    </div>
</div>
</nav>
