<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for("index") }}">Packet</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("packets") }}">Active Packets</a>
                </li>

                {% if info.realm == "csh" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("upperclassmen_total") }}">Signatures</a>
                    </li>
                    {% if info.admin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ url_for("admin_freshmen") }}">Freshmen</a>
                                <a class="dropdown-item" href="{{ url_for("admin_packets") }}">Packets</a>
                            </div>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <button id="freshman-report" class="btn btn-sm btn-primary report-button">Report</button>
                    </li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="navbar-user dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user01">
                        {% if info.realm == "csh" %}
                        <img src="https://profiles.csh.rit.edu/image/{{ info.uid }}">
                        {% else %}
                        <img src="{{ get_rit_image(info.uid) }}">
                        {% endif %}
                        {{ info.uid }}
                        <span class="caret"></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="user01">
                        <input id="userInfo" hidden value="{{ info.uid }}">
                        {% if info.realm == "csh" %}
                            <a class="dropdown-item" href="https://profiles.csh.rit.edu/">Profile</a>
                            <a class="dropdown-item" href="https://themeswitcher.csh.rit.edu/">Theme</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for("logout") }}">Logout</a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>
