@use "sass:meta";
body {
  padding-top: 40px;
}

.main {
  margin-top: 40px;
}

@include meta.load-css("global");

.header {
  display: flex;
  justify-content: space-between;
}

.right-align {
  float: right;
}
