<div id="eval-table">
    <div class="card">
        <div class="card-body table-fill">
            <div class="table-responsive">
                <table id="open_packets_table" class="table table-striped no-bottom-margin">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Signatures</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for packet in open_packets %}
                        <tr>
                            <td data-priority="1">
                                <a href="{{ url_for('freshman_packet', packet_id=packet.id) }}">
                                    <img class="eval-user-img"
                                         alt="{{ get_rit_name(packet.freshman_username) }}"
                                         src="{{ get_rit_image(packet.freshman_username) }}"
                                         width="25"
                                         height="25"/> {{ get_rit_name(packet.freshman_username) }}
                                </a>
                            </td>
                            <td data-sort="{{ packet.signatures_received_result.total / packet.signatures_required_result.total }}">
                                {% if packet.signatures_received_result.total == packet.signatures_required_result.total %}
                                    💯 {# 100% emoji #}
                                {% else %}
                                    {{ packet.signatures_received_result.total }} /
                                    {{ packet.signatures_required_result.total }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
