button {
  &.sign-packet {
    float: right;
    text-align: right;
  }

  &.sign-button {
    float: right;
  }

  &.signed-button {
    float: right;
  }

  @media screen and (min-width: 992px) {
    &.report-button {
      margin-top: 0.5rem !important;
    }
  }
}
